.button {
    padding: 18px 27px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
}

.blue {
    background-color: #1d4ed8;
    color: #fff;
}

.red {
    background-color: #dc2626;
    color: #fff;
}
